<h2><%= @album.title %></h2>
<h3><%= @album.artist %></h3>
<h4>Category: <%= @album.category.name %></h4>
<p><%= @album.songs %></p>

<div>
	<%= render @album.reviews %>

	<%= link_to "Add Review", new_album_review_path(@album) %>

</div>

<%= link_to "Back", albums_path %>

<% if user_signed_in? %>

	<%= link_to "Edit", edit_album_path(@album) %>
	<%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/javascripts/jquery.raty.js'
	});
</script>