<div class="row">

	<div style="width:400px; height:auto", class="col-md-4">
		<%= image_tag(@album.image, style:'width:100%') if @album.image.attached? %>
	</div>

	<div class="col-md-8">
		<h2><%= @album.title %></h2>
		<h3><%= @album.artist %></h3>
		<h4>Genre: <%= @album.category.name %></h4>
		<p><%= @album.songs %></p>

		<%= link_to "Back", albums_path %>

		<% if user_signed_in? %>

			<%= link_to "Edit", edit_album_path(@album) %>
			<%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: "Are you sure?"} %>
		<% end %>
	</div>
</div>

<div>
	<h2><br>Reviews: </h2>

	<%= render @album.reviews %>

	<%= link_to "Add Review", new_album_review_path(@album) %>

</div>




<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/javascripts/jquery.raty.js'
	});
</script>